.hero-slider-section {
  width: 100%;
  height: 700px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.hero-slider-section .slide {
  height: 100%;
  width: 100%;
  position: relative;
}

.hero-slider-section .slide .item {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 50%;
  transform: translateY(-50%);
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease;
}
.item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}
.item .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.slide .item:nth-child(n + 3) .overlay {
  display: none;
}
.slide .item:nth-child(1) .overlay,
.slide .item:nth-child(2) .overlay {
  display: block;
}
.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  inset: 0;
  width: 100%;
  height: 100%;
  transform: none;
}
.slide .item:nth-child(3) {
  left: 58%;
  border-radius: 20px;
  z-index: 1;
}
.slide .item:nth-child(4) {
  left: calc(58% + 220px);
  border-radius: 20px;
  z-index: 1;
}
.slide .item:nth-child(5) {
  left: calc(58% + 440px);
  border-radius: 20px;
  z-index: 1;
}
.slide .item:nth-child(n + 6) {
  left: calc(58% + 660px);
  border-radius: 20px;
  z-index: 1;
}
.item .content {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 400px;
  transform: translateY(-50%);
  color: #eee;
  font-family: system-ui;
  display: none;
  z-index: 2;
}

.slide .item:nth-child(2) .content {
  display: block;
}
.content .name {
  font-size: 33px;
  font-weight: bold;
  font-family: var(--ztc-family-font1);
  text-transform: uppercase;
  opacity: 0;
  animation: animate 1s ease forwards;
}

.content .des {
  margin: 10px 0 20px;
  opacity: 0;
  font-size: 16px;
  font-family: var(--ztc-family-font1);
  animation: animate 1s ease 0.3s forwards;
}

.content button {
  padding: 10px 25px;
  border-radius: 60px;
  background: var(--ztc-bg-bg-14);
  font-family: var(--ztc-family-font1);
  font-weight: bold;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #000000;
  cursor: pointer;
  animation: animate 1s ease 0.6s forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
.button {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 1;
}

.button button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-family: var(--ztc-family-font1);
  font-size: 18px;
  background: rgba(255,255,255,0.15);
  border: 1px solid rgba(255,255,255,0.2);
  cursor: pointer;
  z-index: 1;
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .item .content { left: 7%; }
  .slide .item:nth-child(3) { left: 66%; }
  .slide .item:nth-child(4) { left: calc(66% + 220px); }
  .slide .item:nth-child(5) { left: calc(66% + 440px); }
  .slide .item:nth-child(n + 6) { left: calc(66% + 660px); }
  .content button { padding: 10px 25px; font-size: 16px; }
}
@media (max-width: 1024px) and (min-width: 769px) {
  .item .content {
    left: 50px;
    width: 250px;
  }
  .slide .item:nth-child(3) { left: 55%; }
  .slide .item:nth-child(4) { left: calc(55% + 220px); }
  .slide .item:nth-child(5) { left: calc(55% + 440px); }
  .slide .item:nth-child(n + 6) { left: calc(55% + 660px); }
  .content button { padding: 10px 20px; font-size: 16px; }
}

@media (max-width: 768px) {

  .hero-slider-section {
    height: 400px;
  }
  .slide .item:nth-child(1),
  .slide .item:nth-child(2) {
    width: 100%;
    height: 100%;
    inset: 0;
  }
  .slide .item:nth-child(n + 3) {
    width: 100px;
    height: 100px;
    right: 10px;
    left: unset !important;
    top: 45%;
    border-radius: 12px;
    transform: translateY(-50%);
  }
  .slide .item:nth-child(4) {
    top: calc(45% + 110px);
  }
  .slide .item:nth-child(5) {
    top: calc(45% + 220px);
  }
  .item .content {
    width: 40%;
    left: 5%;
    top: 56%;
    text-align: center;
  }
  .content .name { font-size: 16px; }
  .content .des { font-size: 10px; }
  .content button { padding: 10px; font-size: 12px; }
  .button {
    bottom: 10px;
    gap: 10px;
  }
  .button button {
    width: 35px;
    height: 35px;
  }
}
